# Environment
NODE_ENV=development
PORT=3000

# PostgreSQL Connection (Neon Serverless or standard PostgreSQL)
DATABASE_URL="postgresql://veltrix_user:password@localhost:5432/veltrix?schema=public&sslmode=prefer"

# JWT Authentication Secret (Generate with: openssl rand -base64 32)
JWT_SECRET="veltrix_super_secure_production_secret_key_minimum_32_characters"
COOKIE_NAME="veltrix_auth_session"

# Application Public Host
NEXT_PUBLIC_APP_URL="http://localhost:3000"
